body {
    margin: 0px auto;
}

h1 {
    font-family: 'avenir next', sans-serif;
    font-size: 2em;
    color: #676767;
    background-color: #EFEFEF;
    padding: 1em;
}

.hidden {
    padding: 0 18px;
    display: none;
}

article {
    font-family: 'avenir next', sans-serif;
    background-color: #EFEFEF;
    color: #676767;
    padding: 2em;
    margin: 2em;
    width: 30em;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 30em;
}

.prijs {
    font-size: 2em;
    text-align: right;
}

.informatie {
    background-color: floralwhite;
    padding: 1em;
    border-radius: 10em;
    font-size: 0.8em;
}

.informatie {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 7em;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active,
.informatie:hover {
    background-color: #555;
}
