* {
    font-family: 'avenir', arial, sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

header p {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

img {
    height: 40em;
}

header {
    background-color: cadetblue;
}

form {
    padding: 2em;
}

legend {
    font-size: 2em;
    padding: 1em;
}

input {
    padding: 1em;
    border-radius: 1em;
}

label {
    padding: 1em;
}

#search-by-title-reset {
    background-color: black;
    border: 0px;
    color: white;
    font-size: 1em;
    border-radius: 1em;
    padding: 0.7em;
}

#search-by-title-button {
    background-color: darkblue;
    border: 0px;
    color: white;
    font-size: 1em;
    border-radius: 1em;
    padding: 0.7em;
}

section {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin: 1em;
}

article {
    padding: 1em;
    margin: 1em;
}
